<div class="text-center mb-5">
  <h1>ステージ一覧</h1>
  <div class="row mt-5">
    <% @stages.each do |stage| %>
      <div class="col-xl-4 col-md-6 border pt-5 pb-3">
        <p>
          <img class="rounded" src=<%= "/stages/#{stage.image}" %> alt="Stage" width="320px" height="180px">
        </p>
        <p><%= link_to stage.name, stage_path(stage), class: 'font-weight-bold h5' %></p>
        <% @high_score = Score.where(user_id: session[:user_id], stage_id: stage.id).order(max_point: :desc).first %>
        <% @main_weapon = MainWeapon.find_by(id: @high_score.main_weapon_id) %>
        <p class="font-weight-bold"><span class="fa fa-crown mr-2"></span><%= @main_weapon.name %>（<%= @high_score.max_point %>p）</p>
      </div>
    <% end %>
  </div>
</div>
